{% extends 'base.html' %}

{% block body %}
<!--==========================
    Intro Section
  ============================-->
<section id="intro">
  <div class="intro-container wow fadeIn">
    <h1 class="mb-4 pb-0">The Website for creating<br><span>HTML</span> from Text</h1>
    <p class="mb-4 pb-0">A Simple Django Project created by Team <span>B</span>est <span>O</span>f <span>B</span>est</p>
    <a href="input" class="play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>

  </div>
</section>

<main id="main">



  <!--==========================
      Speakers Section
    ============================-->
  <section id="speakers" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Our Team members</h2>
        <!-- <p>Here are some of our speakers</p> -->
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="speaker">
            <img src="static/img/speakers/1.jpg" alt="Speaker 1" class="static/img-fluid">
            <div class="details">
              <h3><a href="#">Shivanshu Suryakar</a></h3>
              <p>Full Stack Developer</p>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="speaker">
            <img src="static/img/speakers/2.jpg" alt="Speaker 2" class="static/img-fluid">
            <div class="details">
              <h3><a href="#">Ansh Shrivas</a></h3>
              <p>Full Stack Developer</p>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="speaker">
            <img src="static/img/speakers/3.jpg" alt="Speaker 3" class="static/img-fluid">
            <div class="details">
              <h3><a href="#">Dhiraj Shinde</a></h3>
              <p>SEO Expert</p>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="speaker">
            <img src="static/img/speakers/4.jpg" alt="Speaker 4" class="static/img-fluid">
            <div class="details">
              <h3><a href="#">Sandeep Raut</a></h3>
              <p>Boss</p>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section>



  <!--==========================
      Hotels Section
    ============================-->
  <section id="hotels" class="section-with-bg wow fadeInUp">

    <div class="container">
      <div class="section-header">
        <h2>RATE US</h2>
        <!-- <p>Here are some of our Happy Customers</p> -->
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="hotel">
            <div class="hotel-img">
              <img src="static/img/hotels/1.jpg" alt="Hotel 1" class="static/img-fluid">
            </div>
            <h3><a href="#">Sundar Pichai</a></h3>
            <div class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <p>I have learnt HTML from your Site only</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="hotel">
            <div class="hotel-img">
              <img src="static/img/hotels/2.jpg" alt="Hotel 2" class="static/img-fluid">
            </div>
            <h3><a href="#">Bablu Pathak</a></h3>
            <div class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-full"></i>
            </div>
            <p>Jai Hind dosto, Ye mere bhai ka page hai,5 star Rating do!</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="hotel">
            <div class="hotel-img">
              <img src="static/img/hotels/3.jpg" alt="Hotel 3" class="static/img-fluid">
            </div>
            <h3><a href="#">Deepak Kalal</a></h3>
            <div class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <p>Loved your site, Muaah!👄</p>
          </div>
        </div>

      </div>
    </div>

  </section>



  <!--==========================
      F.A.Q Section
    ============================-->
  <section id="faq" class="wow fadeInUp">

    <div class="container">

      <div class="section-header">
        <h2>How to Convert Text to HTML</h2>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-9">
          <ul id="faq-list">

            <li>
              <a data-toggle="collapse" class="collapsed" href="#faq1">How to head towards input textarea
                <i class="fa fa-minus-circle"></i></a>
              <div id="faq1" class="collapse" data-parent="#faq-list">
                <p>
                  On landing page you have link to head to textarea and input the text there
                </p>
              </div>
            </li>

            <li>
              <a data-toggle="collapse" href="#faq2" class="collapsed"> <i class="fa fa-minus-circle"></i></a>
              <div id="faq2" class="collapse" data-parent="#faq-list">
                <p>
                  Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id
                  donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit
                  ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                </p>
              </div>
            </li>

            <!-- <li>
              <a data-toggle="collapse" href="#faq3" class="collapsed">Dolor sit amet consectetur adipiscing elit
                pellentesque habitant morbi? <i class="fa fa-minus-circle"></i></a>
              <div id="faq3" class="collapse" data-parent="#faq-list">
                <p>
                  Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum
                  integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt.
                  Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi
                  quis
                </p>
              </div>
            </li> -->

            <!-- <li>
              <a data-toggle="collapse" href="#faq4" class="collapsed">Ac odio tempor orci dapibus. Aliquam eleifend mi
                in nulla? <i class="fa fa-minus-circle"></i></a>
              <div id="faq4" class="collapse" data-parent="#faq-list">
                <p>
                  Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id
                  donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit
                  ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                </p>
              </div>
            </li> -->

            <!-- <li>
              <a data-toggle="collapse" href="#faq5" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et
                tortor consequat? <i class="fa fa-minus-circle"></i></a>
              <div id="faq5" class="collapse" data-parent="#faq-list">
                <p>
                  Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc
                  vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus
                  gravida quis blandit turpis cursus in
                </p>
              </div>
            </li> -->

            <!-- <li>
              <a data-toggle="collapse" href="#faq6" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel
                pharetra vel turpis nunc eget lorem dolor? <i class="fa fa-minus-circle"></i></a>
              <div id="faq6" class="collapse" data-parent="#faq-list">
                <p>
                  Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada
                  nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis
                  tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas
                  fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
                </p>
              </div>
            </li> -->

          </ul>
        </div>
      </div>

    </div>

  </section>



</main>


{% endblock body %}